<!-- https://getbootstrap.com/docs/4.0/examples/ -->
<!DOCTYPE html>
<html>

<head>
</head>
<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Digit Recognition</a>
</nav>

<body style="background-color:rgba(235, 233, 255, 0.534);">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Drawing box</h1>
        <p class="lead">Draw number here!</p>
        <!-- Adapted from: https://habrahabr.ru/company/ods/blog/335998/ -->
        <!-- Adapted from: https://github.com/sugyan/tensorflow-mnist/blob/master/templates/index.html -->
        <canvas id="main"></canvas>
        <p>
          <button id="clear" class="btn btn-default butt">Clear</button>
        </p>
      </div>
      <div class="col-md-6">
        <p>Input:</p>
        <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
        <hr>
        <h1>
          Seems like you wrote number:
          <span id="output-text">
          </span>
        </h1>
        <br>
        <table id="output" class="table">
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-2">Regression
              <a href="https://www.tensorflow.org/get_started/mnist/beginners">(For Beginners)</a>
            </th>
            <th class="col-md-2">Convolutional
              <a href="https://www.tensorflow.org/get_started/mnist/pros">(For Experts)</a>
            </th>
          </tr>
          <tr>
            <th>0</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>4</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>5</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>6</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>7</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>8</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>9</th>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>