<!-- https://getbootstrap.com/docs/4.0/examples/ -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Digit Recognition</a>
</nav>
<body>
  <div class="container">

    <div class="starter-template">
      <h1>Drawing box</h1>
      <p class="lead">Draw number here!</p>
    </div>

    <!-- Adapted from: https://habrahabr.ru/company/ods/blog/335998/ -->
    <!-- https://github.com/sugyan/tensorflow-mnist/blob/master/templates/index.html -->
    <div>
      <canvas id="main"></canvas>
      <div>
        <button id="clear" class="btn btn-default butt">clear</button>
      </div>
      <div class="col-md-6">
        <p>input:</p>
        <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
        <hr>
        <p>output:</p>
        <table id="output" class="table">
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-2">regression</th>
            <th class="col-md-2">convolutional</th>
          </tr>
          <tr>
            <th>0</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>4</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>5</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>6</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>7</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>8</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>9</th>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>